@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    /* color: whitesmoke; */
    /* font-family: "Oswald", cursive !important;  NON INSERIRE NEL SELETTORE MA SOLO NEL BODY, SE NO FONTAWESOME ENTRA IN CRISI  */ 
}

input,textarea{
    color: black;
    
}
.white{
  color: whitesmoke;
}

.white.active{
  color:black;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid aqua;
  padding: 10px;
}

span{
    color: whitesmoke;
}
body{
    background-color: black;
    color: whitesmoke;
    font-family: "Oswald", cursive !important; 
    margin: 0%;
    overflow-x: hidden;
}

.noscroll {
  position: fixed!important
}


.light-mode {
  background-color: whitesmoke;
  color: black !important ;
  
} 

.zoom {
  transition: transform .3s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.zoom30 {
  transition: transform .3s;
  border: none !important;
}

.zoom30:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

a {
  text-decoration: none !important;
}
.testocentrato {
    text-align: center;
}

.scrollTop {
  display: none;
  background: transparent;
  border-radius: 50%;
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index:99;
  cursor: pointer;
}

.scrollTop lord-icon {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.border2Footer{
    color: yellow;
    border-top: solid 1px;
    /* width: 65vw; */
    margin-inline: 15vh 15vh;
    text-align: center;
    justify-content: center;
}

.border2Footer.active{
  color: black !important;
  background-color: whitesmoke;
  /* border-top: solid 1px; */
  /* width: 65vw; */
  margin-inline: 15vh 15vh;
  text-align: center;
  justify-content: center;
}


.border3Footer{
  color: yellow;
  border-top: solid 1px;
  margin-inline: 22vh 22vh;
  text-align: center;
  justify-content: center;
}

.mb-3{
    margin-bottom: 4vh;
}

.mt-3{
    margin-top:4vh;
}

.TranslateHome {
    overflow-x: hidden; 
    /* Ricorda inserire overflow-hidden di bootstrap sul html per bloccare */
     animation-duration: 1.5s;
  animation-name: slideinG;
  }
  
  @keyframes slideinG {
  from {
  
    margin-left: 100%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
  }
  
  .TranslateHome2 {
      overflow-x: hidden;
       animation-duration: 1.5s;
    animation-name: slideinX;
    }
    
    @keyframes slideinX {
    from {
    
      margin-left: -300%;
      width: 200%;
    }
    
    to {
      margin-left: 0%;
      width: 100%;
    }
    }


    .reveal{
        /* position: relative; */
        transform: translateX(150px);
        opacity: 0;
      /*   overflow: hidden; */
        transition: all 1.5s ease !important;
      }
      
      .reveal2{
        /* position: relative; */
        transform: translateX(-150px);
        opacity: 0;
        transition: all 0.6s ease !important;
      /*   -webkit-transition: all 0.2s ease-in; */
        
      }
      
      
      .reveal.active{
        transform: translateX(0px);
        opacity: 1;
        background-color: black;
          
        
      }
      
      .reveal2.active{
          
        transform: translateX(0px);
        opacity: 1;
      }
  
/* //NAVBAR// */
    nav{
        /* z-index: 10; */
    position: sticky;
    top: 0;
    width: 100%;
    }

  .topnav {
    /* overflow: hidden; */
    background-color: aqua;
    z-index: 10;
  }
  
  .topnav #navLinks {
    display: none;
text-align: center;  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a.icon:hover {
    background-color: #ddd;
  }
  
  .active {
    background-color: aqua ;
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    
  }

  /* Header */

  .imgHeader{
    object-fit:contain;
            width:max-content;
            height:auto;
            /* border: solid 1px #CCC */
  }

  .containerImg {
    display: block;
    max-width: 100vw;
    /* margin: 0 auto; */
    margin-bottom: 10%;
  }
  
  .containerImg img {
    max-width: 100vw;
      image-rendering: auto;
      vertical-align: middle;
    }

    .containerImg2 {
      display: block;
      max-width: 50vw;
      margin: 0 auto;
      margin-bottom: 10%;
      align-items: center;

    }
    
    .containerImg2 img {
      max-width: 50vw;
      border: solid 2px aqua;
        image-rendering: auto;
        vertical-align: middle;

      }


    .titolo{
        font-size: 7vh;
        color: aqua;
        margin-top: 10vh;
    }

    @media screen and (max-width: 600px) {
        .imgHeader{
            height: 45vh;
            width: 100%;
            
        }
      }

      @media screen and (min-width: 900px) {
        .imgHeader{
            height: 70vh;
            width: 100%;
            
        }
      }
    
  
  /* GridImgTesto */

  .grid-container {
    display: grid;
    grid-template-columns: 50vw 50vw  ;
    gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
    align-items: center;
    /* height: 25vh; */
  }
  
  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid black;
    text-align: center;
    font-size: 3vh;
    
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto  ;
    gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
    align-items: center;
    overflow-x: hidden;
    width: 90%;
    /* height: 25vh; */
  }
  
  .grid-container2 > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid black;
    text-align: center;
    font-size: 3vh;
    
  }

  .grid-container3 {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw ;
    gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    /* height: 25vh; */
  }
  .grid-container3 > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid aqua;
    text-align: center;
    font-size: 3vh;
    
  }

  .grid-container4 {
    display: block;
    grid-template-columns: 100vw ;
    gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    /* height: 25vh; */
  }
  .grid-container4 > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid aqua; */
    text-align: center;
    font-size: 3vh;
    
  }
  

  .imgCentrato{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  @media screen and (max-width: 600px) {
    .grid-container,.grid-container2 {
        grid-template-columns:  auto  ;
    }
    .imgMar{
        margin-bottom: 10vh;

    }
  }

  .titolino{
      color:aqua ;

  }

  .imgMarg{
      margin-bottom: 10vh;
  }

  /* footer point  */
  .footer-container {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 50% 50%;
    gap: 5px;
    /* background-color: #2196F3; */
    /* padding: 5px; */
    align-content: center;
  }
  
  .footer-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    align-content: center;

    text-align: center;
    padding: 10px 0;
    font-size: 100%;
   
  }

  .footer-container2 {
    display: grid;
    grid-template-columns:   auto;
    /* grid-template-rows: 40% 60%; */
    /* background-color: #2196F3; */
    align-content: center;
  }
  
  .footer-container2 > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 100%;
   
  }

  /* form page  */

  .myForm{
      /* width: 100; */
  }
  .btn-primary{
      background-color: aqua;
      color: black;
      border-radius: 50%;
      width: 8vw;
      height: 5vh;
  }

  .btn-primary2{
    background-color: aqua;
    color: black;
    border-radius: 20%;
    width: 13vw;
    height: 13vh;
}

  .btn-danger{
    background-color: red;
    color: black;
    border-radius: 50%;
    width: 8vw;
    height: 5vh;

  }

  .erroreMex{
    color: red;
    text-align: center;
    font-family: "Oswald", cursive !important;
    font-size: xx-large;
  }

  .successMex{
    color: green;
    text-align: center;
    font-family: "Oswald", cursive !important;
    font-size: xx-large;
  }

  #username,#username2,#password,#testo{
    color: green;
  }

  
  input.form-control,textarea.form-control{
    width: 40vw;
  }
  @media screen and (max-width: 600px) {
    input.form-control,textarea.form-control{
      width: 60vw;
    }
    .btn-danger,.btn-primary {
      width: 16vw;
    height: 5vh;
    }
    .btn-primary2{
      width : 18vw;
      height: 12vh;
    }
  }

.progressBar{
  /* .w3-green, .w3-hover-green:hover { */
    color: #fff!important;
    background-color: #4CAF50;
    height: 10em;
    align-items: center;
    width:20%;
    
}

#progressDiv{
  height: 100vh;
  width: 100vw;
  z-index: 10;
  align-items: center;
  padding-top: 30%;
  /* visibility: hidden; */

  /* <body scroll="no" style="overflow: hidden"> */
}



.table-images{
  border:1px solid aqua;
  width: 100%;
}
th,td{
  border:1px solid aqua;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  

#demoS{
  margin-top: 10vh;
  border: 1px solid aqua;
}

/* turtle Games */

canvas {
  border: 1px solid yellow;
  background-color: #f1f1f1;
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90vw;
    overflow:"hidden", 
}

ctx{
  color: aqua !important;
}


/* FLOWCHART */


.flowchart{
  margin-bottom: 100vh;
}
.flowchart1{
  margin-bottom:45vh
}
.rectangle {
  height: 10vh;
  width: 20vw;
  background-color: aqua;
  border: yellow solid 1px;
  border-radius: 15% ;
   position: absolute;
  left: 50%;
  margin-left: -10vw;
  display: block;
}
.vl {
  border-left: 6px solid white;
  height: 10vh;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; */
    display: block;
    margin-top:12vh;

}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 30px solid wheat;
position: absolute;
  left: 50%;

  margin-left: -1vw;
  display: block; 
    margin-top:23vh;
    
}

.parallelogram1 {
  height: 10vh;
  width: 20vw;
  background-color: aqua;
  border: yellow solid 1px;
   position: absolute;
  left: 50%;
  margin-left: -10vw;
  margin-top:30vh;

  display: block;
	transform: skew(-20deg);
	
}

.rombo-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 75px solid aqua;
  position: absolute;
  left: 48%;
  /* margin-left: -1vw; */
  display: block; 
  margin-top:14vh;
}
.rombo-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 75px solid aqua;
  position: absolute;
  left: 48%;
  margin-top:24vh;
  margin-bottom: vh;
  z-index: 10;
}

.square {
  height: 15vh;
  width: 10vw;
  background-color: aqua;
  position: absolute;
  left: 46%;
  /* margin-left: -1vw; */
  display: block; 
  margin-top:17vh;
  transform: rotate(-45deg);
  z-index: 10;

}


.v2 {
  border-left: 6px solid white;
  height: 10vh;
  position: absolute;
  left: 51%;
  /* margin-left: -3px; */
    display: block;
    margin-top:35vh;

}

.triangle-down2 {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 30px solid wheat;
position: absolute;
  left: 51%;

  margin-left: -1vw;
  display: block; 
    margin-top:45vh;
    
}

.v3 {
  border-left: 6px solid white;
  height: 10vh;
  position: absolute;
  left: 51%;
  /* margin-left: -3px; */
    display: block;
    margin-top:0vh;

}

.triangle-down3 {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 30px solid wheat;
position: absolute;
  left: 51%;

  margin-left: -1vw;
  display: block; 
    margin-top:9vh;
    
}
.v4 {
  border-left: 6px solid white;
  height: 12vh;
  /* width: 30vw; */
  position: absolute;
  left: 60%;
  /* margin-left: -3px; */
    display: block;
    margin-top:19vh;
    transform: rotate(-90deg)

}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 30px solid wheat;
	border-bottom: 15px solid transparent;
  position: absolute;
  left: 63%;
  margin-left: -1vw;
  display: block; 
    margin-top:23vh;
}

.parallelogram2 {
  height: 10vh;
  width: 20vw;
  background-color: aqua;
  border: yellow solid 1px;
   position: absolute;
  left: 82%;
  margin-left: -10vw;
  margin-top:23vh;

  display: block;
	transform: skew(-20deg);
  z-index: 5;
	
}

.v10 {
  border-left: 6px solid white;
  height: 46vh;
  position: absolute;
  /* margin-left: -3px; */
    display: block;
    left: 85%;
  margin-left: -10vw;
  margin-top:35vh;

}

.v11 {
  border-left: 6px solid white;
  height: 22vh;
  position: absolute;
  /* margin-left: -3px; */
    display: block;
    left: 79%;
  margin-left: -9vw;
  margin-top:70vh;
  transform: rotate(-90deg)

}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 30px solid wheat;
	border-bottom: 15px solid transparent;
  left: 63%;
  top: 182%;
  position: absolute;
  z-index: 2;
}


.parallelogram3 {
  height: 10vh;
  width: 20vw;
  background-color: aqua;
  border: yellow solid 1px;
   position: absolute;
  left: 50%;
  margin-left: -10vw;
  margin-top:50vh;

  display: block;
	transform: skew(-20deg);
	
}

.v5 {
  border-left: 6px solid white;
  height: 10vh;
  position: absolute;
  left: 51%;
  /* margin-left: -3px; */
    display: block;
    margin-top:62vh;

}

.triangle-down5 {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 30px solid wheat;
position: absolute;
  left: 51%;

  margin-left: -1vw;
  display: block; 
    margin-top:72vh;
    
}

.rectangle2 {
  height: 10vh;
  width: 20vw;
  background-color: aqua;
  border: yellow solid 1px;
  border-radius: 15% ;
   position: absolute;
  left: 50%;
  margin-left: -10vw;
  display: block;
  margin-top:76vh;

}

@media screen and (max-width: 600px) {
  .square{
    height: 10vh;
    width:17vw;
    transform: rotate(-50deg);
    
    margin-left: -10vw;
    margin-top:20vh;

  }
}